<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css" />
    <link href="/bootstrap4-glyphicons/maps/glyphicons-fontawesome.min.css" rel="stylesheet" type="text/css" />

    <title>CMD::Data</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/signin.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        window.onload = function() {
        var datelist = <%- JSON.stringify(dates)%>
        var datacold = <%- JSON.stringify(coldW)%>
        var datahot = <%- JSON.stringify(hotW)%>
        var dataelectricity = <%- JSON.stringify(electr)%>


        var ctx = document.getElementById("myChart");
        var myChart = new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                  labels: datelist,
                  datasets: [{
                      data: datahot,
                      label: "Горячая вода",
                      borderColor: "red",
                      lineTension: 0,
                      fill: false
                    }, {
                      data: datacold,
                      label: "Холодная вода",
                      borderColor: "blue",
                      lineTension: 0,
                      fill: false
                    }, {
                      data: dataelectricity,
                      label: "Электроэнергия",
                      borderColor: "orange",
                      lineTension: 0,
                      fill: false
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: 'Показания'
                  }
                }
              });
          }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <script type="text/javascript">
      function check_chart() {
        if (document.getElementById('check').checked == true) {
          document.getElementById('chart-container-id').style.display = 'block';
          document.getElementById('table_a').style.display = 'none';
          document.getElementById('table_b').style.display = 'none';
          document.getElementById('p_a').style.display = 'none';
          document.getElementById('p_b').style.display = 'none';
        } else {
          document.getElementById('chart-container-id').style.display = 'none';
          document.getElementById('table_a').style.display = '';
          document.getElementById('table_b').style.display = '';
          document.getElementById('p_a').style.display = '';
          document.getElementById('p_b').style.display = '';
        }
      }
    </script>

    <script type="text/javascript">
      function edit(button) {
        var name = button.name;
        $("p." + name).replaceWith("<input class=\"form-control edit-input\" type=\"number\">");
        var editForm = "edit_form_" + name;
        document.getElementById(editForm).style.display='';
      }
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $("#send").click(function(){
            document.getElementById('alert-message').style.display='';
            $("#alert-message").fadeIn("slow");
        });
      });

      function sendEditData(element) {
        var data = {
          hot: document.getElementsByClassName("edit-input")[0].value,
          cold: document.getElementsByClassName("edit-input")[1].value,
          electricity: document.getElementsByClassName("edit-input")[2].value,
          date: element.id.split("_")[2]
        }

        $.ajax({
          type: "POST",
          url: "http://localhost:8000/user/data/edit",
          data: data,
          success: function(data) {
            location.reload();
          },
          error: function(error) {

          }
        });
      }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div class="navbar">
    <img class="roles" src="/image/cmd_logo.png">
    <ul class="my-nav-panel nav nav-tabs">
      <a class="link-nav-menu nav-link my-nav-link" href="/user/personal_data">Личный кабинет</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/view">Просмотр показаний</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/view_month">Показания за месяц</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/add">Передача показаний</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/logout">Logout</a>
    </ul>
</div>

<label class="switch">
  <input onclick="check_chart()" id="check" type="checkbox" unchecked>
  <span class="slider round"></span>
  <span class="absolute-no">График</span>
</label>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart-container-id" class="chart-container">
  <canvas id="line-chart" width="700" height="350"></canvas>
</div>

<table class="table data_table" id="table_a">
    <tbody>
        <h2 id="p_a">Показания</h2>
        <tr>
            <td>Дата</td>
            <td>Горячая вода</td>
            <td>Холодная вода</td>
            <td>Электроэнергия</td>
            <td>Редактировать</td>
        </tr>

        <%for (let data of myData.keys()) {%>
        <tr>
          <td><%= data %></td>
            <%var d = myData.get(data);%>
            <%for (let md in d) {%>
              <td><p class=<%= data %>> <%= d[md] %> </p> </td>
            <%}%>
            <td>
              <button type="button" onclick="edit(this)" class="edit btn btn-primary btn-circle" name=<%= data %>><i class="fas fa-pen"></i></button>
              <button onclick="sendEditData(this)" style="display:none;" id="edit_form_<%= data %>" type="submit"  class="btn btn-primary btn-circle" ><i class="fas fa-check"></i></buttom>
            </td>
        </tr>
        <%}%>
    </tbody>
</table>

<div style="display:none;" id="alert-message" class="col-sm-6 col-md-6">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <span class="glyphicon glyphicon-ok"></span> <strong>Сообщение на почту отправленно!</strong>
        <hr class="message-inner-separator">
        <p>На вашу почту было отправленно письмо в показаниями!</p>
    </div>
</div>

<table class="table data_table" id="table_b">
  <%if (predictionalMetersData != undefined) {%>
    <tbody>
          <h2 id="p_b">Предполагаемые данные на следующую неделю</h2>
          <tr>
              <td>Дата</td>
              <td>Горячая вода</td>
              <td>Холодная вода</td>
              <td>Электроэнергия</td>
          </tr>

          <%for (let data of predictionalMetersData.keys()) {%>
          <tr>
            <td><%= data %></td>
              <%var d = predictionalMetersData.get(data);%>
              <%for (let md in d) {%>
                <td><%= d[md] %></td>
              <%}%>
          </tr>
          <%}%>
    </tbody>
    <%}%>
  </table>

  <form action="/user/data/send" method="post">
    <button type="submit" id="send" class="btn btn-primary btn-circle"><i class="far fa-envelope"></i></button>
  </form>
</body>
</html>
