<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMD::Data</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/signin.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


</head>
<body>
<div class="navbar">
    <img class="roles" src="/image/cmd_logo.png">
    <ul class="my-nav-panel nav nav-tabs">
      <a class="link-nav-menu nav-link my-nav-link" href="/user/personal_data">Личный кабинет</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/view">Просмотр показаний</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/view_month">Показания за месяц</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/add">Передача показаний</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/logout">Logout</a>
    </ul>
</div>


<div class="container">
	<div class="row">
       <div class="col-md-7 ">

        <div class="panel panel-default">
           <div class="panel-body">
            <div class="box box-info">

                    <div class="box-body">
                     <div class="col-sm-6">
                        <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                          <input id="profile-image-upload" class="hidden" type="file">
                        </div>

                      <br>
                    </div>
                    <div class="col-sm-6">
                      <h4 style="color:#00b1b1;"><%= firstName %> <%= lastName %> <%= patronymic %></h4>
                    </div>
                    <div class="clearfix"></div>
                      <hr style="margin:5px 0 5px 0;">
                    <div class="col-sm-5 col-xs-6 tital " >Имя:</div><div class="col-sm-7 col-xs-6 "><%= firstName %></div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital " >Фамилия:</div><div class="col-sm-7"><%= lastName %></div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital " >Отчество:</div><div class="col-sm-7"><%= patronymic %></div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital">E-mail:</div><div class="col-sm-7"><%= email %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital">Телефон:</div><div class="col-sm-7"><%= phone %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital">Улица:</div><div class="col-sm-7"><%= street %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital">Дом:</div><div class="col-sm-7"><%= house %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital">Квартира:</div><div class="col-sm-7"><%= room %></div>

                  </div>
                </div>
            </div>
        </div>
      </div>
   </div>
</div>


</body>
</html>
