<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMD::Data</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/signin.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />


</head>
<body>
<div class="navbar">
    <img class="roles" src="/image/cmd_logo.png">
    <ul class="my-nav-panel nav nav-tabs">
      <a class="link-nav-menu nav-link my-nav-link" href="/user/personal_data">Личный кабинет</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/view">Просмотр показаний</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/view_month">Показания за месяц</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/user/data/add">Передача показаний</a>
      <a class="link-nav-menu nav-link my-nav-link" href="/logout">Logout</a>
    </ul>
</div>


<table class="table data_table">
    <tbody>
        <tr>
            <td>Квартира</td>
            <td>Электроэнергия</td>
            <td>Горячая вода</td>
            <td>Холодная вода</td>
        </tr>

        <%for (let data of myData.keys()) {%>
        <tr>
          <td><%= data %></td>
            <%var d = myData.get(data);%>
            <%for (let md in d) {%>
              <td><%= d[md] %></td>
            <%}%>
        </tr>
        <%}%>

    </tbody>
</table>



</body>
</html>
