.data_table {
    margin-left: 20%;
    width: 60%;
}

.content {
    margin-top: 80px;
    margin-right: 5%;
    width: 80%;
    float: right;
}

.get_data_form {
    margin: 0 auto;
    width: 300px;
}

.input_p {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.enter_data_p {
    text-align: left;
    margin-bottom:0px;
    margin-top: 20px;
    width: 100%;
    font-size:18px;
}

.add_data_form {
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

.mb {
    text-align: center;
    color: #007bff;
    background-color:  #D3D3D3;
    border: 1px solid #696969;
}

.mb:hover {
    color: #fff;
    background-color: #007bff;

}

li:hover{
    background-color:#6610f2;
}

a:hover {
    color: #eee;
    background: #6610f2;
    text-decoration: none;
}

.my-nav-panel{
    margin: 0 auto;
    float: right;
}


.roles {
    position: absolute;
    padding: 0 0 0 0;
    width: 136px;
    height: 45px;
}

.link-nav-menu {
    margin: 0 auto;
}

.content{
    width: 60%;
    height: 600px;
    margin: 0 20% 0 0;
    background: red;
}

.not_found_img {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
}

.wrong_password{
    position: absolute;
    color: red;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

.no_access{
    position: absolute;
    color: red;
    font-size: 25px;
    text-align: center;
    width: 100%;
        margin-top: 65px;
}


.wrond_add{
  position: absolute;
  color: red;
  font-size: 25px;
  text-align: center;
  width: 100%;
  padding-top: 60px;
}

.chart{
  position:absolute;
  width:180px;
}


#view_table{
  display: none;
}


.btn-circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}

#send {
    margin: 0px;
    z-index: 2;
    position: fixed;
    top: 87%;
    left: 93%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.chart-container{
    position: relative;
    height:85%;
    width:85%;
    margin: 0 auto;
}

#chart-container-id{
  display: none;
}

.edit-input{
  width: 105px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.switch {
  position: absolute;
  display: inline-block;
  width: 135px;
  height: 40px;
  margin-left: 15px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c2d4fa;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  z-index: 2;
  content: "";
  height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
  background-color: white;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: .4s;
  transition: all 0.4s ease-in-out;
}
.slider:after {
  position: absolute;
  left: 0;
  z-index: 1;
  content: "Таблица";
    font-size: 15px;
    text-align: left !important;
    line-height: 35px;
  padding-left: 0;
    width: 140px;
    color: #fff;
    height: 40px;
    border-radius: 100px;
    background-color: #007bff;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    transition: all 0.4s ease-in-out;
}

input:checked + .slider:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  padding-left: 25px;
}

input:checked + .slider:before {
  background-color: #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(900px);
  -ms-transform: translateX(90px);
  transform: translateX(90px);
}

.slider.round {
  border-radius: 100px;
}

.slider.round:before {
  border-radius: 50%;
}
.absolute-no {
	position: absolute;
	left: 0;
	color: #007bff;
	text-align: right !important;
    font-size: 15px;
    width: calc(100% - 25px);
    height: 40px;
    line-height: 35px;
    cursor: pointer;
}


input.hidden {
position: absolute;
left: -9999px;
}

#profile-image1 {
cursor: pointer;

width: 100px;
height: 100px;
border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}


.col-sm-6{
  margin: 0 auto;
}

.col-md-7{
  margin: 0 auto;
}

.col-sm-5 {
  display: inline-block;
  margin-left: 120px;
  width: 130px;
}

.col-sm-7 {
  display: inline-block;
}


#alert-message {
  position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   top: 0px;
   margin-top: 250px;
}
